<ng-container *ngIf="!isMovieDetails; else movieDateils">
  <div class="container mx-auto px-4 pt-16">
    <div class="popular-movies">
      <h2 class="uppercase tracking-wider text-blue-500 text-4xl text-center font-semibold mb-10	">
        {{ moviesByGenre?.genre?.name }}</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8"
        *ngIf="moviesByGenre?.movies?.length">
        <ng-container *ngFor="let movie of moviesByGenre.movies | slice:0:10">
          <app-movies-list-item [movie]="movie"></app-movies-list-item>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #movieDateils>
  <app-movie-details [movieId]="movieId"></app-movie-details>
</ng-template>
